<main>
  <div class="d-flex align-items-center">
    <div class="flex-grow-1">
      <h1 class="page-title">Business Cards</h1>
      <p class="page-description">You can manage your business cards from this screen.</p>
      <hr />
    </div>
    <button mat-flat-button color="primary" (click)="openAddCardModal()">yeni kartvizit</button>
  </div>

  <div class="cards">
    <div class="row">
      <div class="col-12 col-md-4" *ngFor="let card of cards">
        <app-cart-item [cardItem]="card"></app-cart-item>
      </div>

    </div>
  </div>
</main>