<main>
  <h1 class="page-title">kartvizitler</h1>
  <p class="page-description">bu ekrandan kartvizitlerinizi yonetebilirsiniz</p>
  <hr />
  <div class="cards">
    <div class="row">
      <div class="col-12 col-md-4">
        <mat-card class="card-item">
          <mat-card-header>
            <mat-card-title>Yigit BOLUKBASI</mat-card-title>
            <mat-card-subtitle>front end developer</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <ul class="list-group">
              <li class="list-group-item">0555 555 55 55</li>
              <li class="list-group-item">y.can.bolukbasi@gmail.com</li>
              <li class="list-group-item">Gokturk/Istanbul</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</main>