<main>
  <h1 class="page-title">kartvizitler</h1>
  <p class="page-description">bu ekrandan kartvizitlerinizi yonetebilirsiniz</p>
  <hr />
  <div class="cards">
    <div class="row">
      <div class="col-12 col-md-4">
        <app-cart-item [cardItem]="cardItem"></app-cart-item>
      </div>
      <div class="col-12 col-md-4">
        <app-cart-item [cardItem]="cardItem"></app-cart-item>
      </div>
      <div class="col-12 col-md-4">
        <app-cart-item [cardItem]="cardItem"></app-cart-item>
      </div>
      <div class="col-12 col-md-4">
        <app-cart-item [cardItem]="cardItem"></app-cart-item>
      </div>
      <div class="col-12 col-md-4">
        <app-cart-item [cardItem]="cardItem"></app-cart-item>
      </div>
      <div class="col-12 col-md-4">
        <app-cart-item [cardItem]="cardItem"></app-cart-item>
      </div>
    </div>
  </div>
</main>