<h2 mat-dialog-title>Yeni Kartvizit Oluştur</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="cardForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>phone</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>e-mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>address</mat-label>
      <textarea matInput formControlName="address"></textarea>
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Vazgeç</button>
  <button mat-button (click)="addCard()">ekle</button>
</mat-dialog-actions>